@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&family=Shrikhand&display=swap");
@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes diplayNone {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  95% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes diplayNone {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  95% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes animMenu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes animMenu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* Effet de scrolling */
html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html html {
    scroll-behavior: auto;
  }
}

body,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #f3f3f3;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
  margin: 0;
}

h4 {
  margin: 10px 0;
  font-size: 18px;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #000;
}

span {
  font-weight: 600;
}

.loader {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  background: -webkit-gradient(linear, left bottom, left top, from(#99e2d0), color-stop(50%, rgba(153, 226, 208, 0.849)), to(#99e2d0));
  background: linear-gradient(0deg, #99e2d0 0%, rgba(153, 226, 208, 0.849) 50%, #99e2d0 100%);
  z-index: 100;
  -webkit-animation: diplayNone 2s linear forwards;
          animation: diplayNone 2s linear forwards;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.loader::before {
  content: '';
  position: absolute;
  height: 100px;
  width: 100px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #ff79da;
  border-left: 5px solid #9356dc;
  border-radius: 50%;
  -webkit-animation: loader 1s 2 linear;
          animation: loader 1s 2 linear;
}

.loader::after {
  content: '';
  position: absolute;
  height: 200px;
  width: 200px;
  border-top: 5px solid #ff79da;
  border-bottom: 5px solid #9356dc;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-radius: 50%;
  -webkit-animation: loader 1s 2 linear;
          animation: loader 1s 2 linear;
}

.header-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  height: 60px;
}

.header-home h1 {
  font-size: 30px;
  letter-spacing: 1.5px;
}

.sct-home .paris {
  -webkit-box-shadow: inset 0px 2px 5px -2px #414141;
          box-shadow: inset 0px 2px 5px -2px #414141;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  height: 60px;
  height: 60px;
  background: #e6e6e6;
  color: #414141;
  font-weight: 200;
  font-size: 14px;
  margin-right: 20px;
}

.sct-home .paris h1 {
  font-size: 30px;
  letter-spacing: 1.5px;
}

.sct-home .paris i {
  padding-right: 20px;
  font-size: 18px;
}

.sct-home .text {
  text-align: center;
  padding-bottom: 30px;
}

.sct-home .text h2 {
  margin-top: 30px;
  font-size: 23px;
  font-weight: 600;
}

.sct-home .text p {
  color: #666666;
  font-size: 19px;
  font-weight: 400;
}

.btn {
  -webkit-box-shadow: 0px 5px 10px -2px #dadada;
          box-shadow: 0px 5px 10px -2px #dadada;
  padding: 15px 20px;
  margin: 20px auto;
  margin-bottom: 30px;
  border: none;
  border-radius: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  color: #ffffff;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  -webkit-box-shadow: 0px 5px 10px -2px silver;
          box-shadow: 0px 5px 10px -2px silver;
}

.btn:hover {
  background: #ff7edb;
  -webkit-box-shadow: 0px 5px 10px -2px #747474;
          box-shadow: 0px 5px 10px -2px #747474;
}

.section {
  width: 100%;
  background: #ffffff;
  padding: 20px 0;
}

.section h2 {
  margin-top: 30px;
  font-size: 23px;
  font-weight: 600;
  margin-left: 25px;
}

.section__functioning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  margin-left: 12px;
  color: #414141;
  font-size: 25px;
  font-weight: 600;
}

.section__functioning p {
  font-size: 16px;
  color: #000;
  font-weight: 575;
}

@media only screen and (min-width: 992px) {
  .section__functioning {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.section__functioning--element {
  width: 86%;
  border-radius: 20px;
  margin: 15px;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 10px -2px #dadada;
          box-shadow: 0px 5px 10px -2px #dadada;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f3f3f3;
  position: relative;
}

.section__functioning--element i {
  margin: 20px 30px;
  font-size: 20px;
  color: #747474;
}

.section__functioning--element:hover {
  background: #e4d5f6;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.section__functioning--element:hover i {
  color: #9356dc;
}

@media only screen and (min-width: 992px) {
  .section__functioning--element {
    width: 28%;
  }
}

.section__functioning--element .number {
  height: 25px;
  width: 25px;
  border-radius: 15px;
  font-size: 16px;
  color: #ffffff;
  background: #9356dc;
  position: absolute;
  left: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-resto {
  margin-left: 25px;
  margin-top: 45px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 15px;
}

@media only screen and (min-width: 992px) {
  .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.menu__card {
  width: 95%;
  margin-bottom: 25px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 10px -2px #dadada;
          box-shadow: 0px 5px 10px -2px #dadada;
  background: #ffffff;
  position: relative;
}

@media only screen and (min-width: 992px) {
  .menu__card {
    width: 47%;
  }
}

.menu__card--img {
  height: 200px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.menu__card--img img {
  border-radius: 20px 20px 0 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (min-width: 992px) {
  .menu__card--img {
    height: 225px;
  }
}

.menu__card--new {
  position: relative;
}

.menu__card--new::before {
  content: 'Nouveau';
  height: 30px;
  width: 80px;
  top: 15px;
  right: 30px;
  font-size: 14px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background: #99e2d0;
  color: #278870;
}

.menu__card--text {
  padding: 0 20px;
  position: relative;
}

.menu__card--text::before {
  content: '\f004';
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
  font-size: 30px;
  position: absolute;
  top: 15%;
  right: 3%;
  color: #414141;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.menu__card--text::after {
  content: '\f004';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 30px;
  position: absolute;
  top: 15%;
  right: 3%;
  color: #414141;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(#ff79da, #9356dc);
  color: transparent;
}

.menu__card--text:hover::after {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.menu__card--text h3 {
  margin-bottom: 5px;
  margin-top: 10px;
}

.menu__card--text p {
  margin: 5px 0 10px 0;
  color: #414141;
}

.margin-footer {
  background: #333333;
  padding: 0 20px 20px 25px;
  color: #ffffff;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.margin-footer h2 {
  padding: 17px 0;
  margin: 0;
  font-size: 20px;
  font-weight: 200;
  font-family: "Shrikhand", cursive;
}

.margin-footer i {
  margin-right: 10px;
  width: 15px;
  height: 20px;
}

.margin-footer a {
  color: #ffffff;
  margin: 3px 0;
}

.header-home {
  position: relative;
}

.header-home i {
  position: absolute;
  font-size: 25px;
  height: 50px;
  width: 50px;
  left: 3%;
  top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25%;
}

.header-home i:hover {
  -webkit-box-shadow: 0px 5px 10px -2px #dadada;
          box-shadow: 0px 5px 10px -2px #dadada;
  font-size: 30px;
}

img {
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (min-width: 992px) {
  img {
    height: 50vh;
  }
}

.main-container {
  background-color: #f6f6f6;
  position: relative;
  margin-top: -60px;
  padding: 20px 15px;
  border-radius: 45px 45px 0 0;
}

@media only screen and (min-width: 992px) {
  .main-container {
    padding: 40px;
  }
}

.main-container .title {
  position: relative;
}

.main-container .title h2 {
  font-size: 25px;
  font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
  margin: 15px 0 0 0;
  letter-spacing: 1px;
}

@media only screen and (min-width: 992px) {
  .main-container .title h2 {
    margin: 0;
  }
}

.main-container .title__heart::before {
  content: '\f004';
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
  font-size: 30px;
  position: absolute;
  top: 15%;
  right: 3%;
  color: #414141;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.main-container .title__heart::after {
  content: '\f004';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 30px;
  position: absolute;
  top: 15%;
  right: 3%;
  color: #414141;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(#ff79da, #9356dc);
  color: transparent;
}

.main-container .title__heart:hover::after {
  opacity: 1;
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main-container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.main-container .menu__section {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .main-container .menu__section {
    width: 30%;
  }
}

.main-container .menu__section h3 {
  color: #4d4d4d;
  padding-bottom: 10px;
  text-transform: uppercase;
  position: relative;
  font-weight: 400;
  font-size: 18px;
  margin: 25px 0 0 0;
}

.main-container .menu__section h3::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 50px;
  background: #99e2d0;
  bottom: 0px;
  left: 0;
}

.main-container .menu__section .card-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-shadow: 0px 5px 10px -2px #dadada;
          box-shadow: 0px 5px 10px -2px #dadada;
  border-radius: 20px;
  height: 70px;
  margin: 15px 0;
  background: #ffffff;
  cursor: pointer;
  -webkit-animation: animMenu 2s linear;
          animation: animMenu 2s linear;
  overflow: hidden;
  white-space: nowrap;
}

.main-container .menu__section .card-menu:hover .card-menu__check {
  margin-right: 0;
}

.main-container .menu__section .card-menu:hover .card-menu__check i {
  -webkit-animation: loader .4s linear;
          animation: loader .4s linear;
}

.main-container .menu__section .card-menu__text {
  margin-left: 5px;
  overflow: hidden;
}

.main-container .menu__section .card-menu__text h4,
.main-container .menu__section .card-menu__text p {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 5px;
}

.main-container .menu__section .card-menu__text p {
  color: #414141;
  margin-top: 5px;
}

.main-container .menu__section .card-menu__text h4 {
  margin-bottom: 5px;
}

.main-container .menu__section .card-menu__cash {
  font-size: 16px;
  margin-left: auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-container .menu__section .card-menu__check {
  margin-right: -70px;
  background: #99e2d0;
  color: #99e2d0;
  width: 70px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.main-container .menu__section .card-menu__check i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  background: #ffffff;
  border-radius: 50%;
}

.main-container .menu__section .carte-fantome {
  display: none;
}

@media only screen and (min-width: 992px) {
  .main-container .menu__section .carte-fantome {
    display: block;
    height: 100px;
  }
}

.btn-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-mid .btn {
  -webkit-box-shadow: 0px 5px 10px -2px #dadada;
          box-shadow: 0px 5px 10px -2px #dadada;
  padding: 15px 40px;
  margin: 20px auto;
  margin-bottom: 30px;
  border: none;
  border-radius: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  color: #ffffff;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  -webkit-box-shadow: 0px 5px 10px -2px silver;
          box-shadow: 0px 5px 10px -2px silver;
}

.btn-mid .btn:hover {
  background: #ff7edb;
  -webkit-box-shadow: 0px 5px 10px -2px #747474;
          box-shadow: 0px 5px 10px -2px #747474;
}
/*# sourceMappingURL=style.css.map */