// import
@import "./variables";

// mixins utiles
@mixin boxShadowTop() {
  box-shadow: inset 0px 2px 10px -2px $darkGrey;
}
@mixin boxShadowMenu() {
  box-shadow: 0px 5px 10px -2px $darkGrey;
}
  

// mixins flexbox
@mixin flexMid($jc: center, $ai:center) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}
@mixin flexCol {
  @include flexMid();
  flex-direction: column;
}
@mixin flexAround {
  @include flexMid($jc: space-around);
}
@mixin flexBetween {
  @include flexMid($jc: space-between);
}

// Balise élément
@mixin secondTitle {
  padding-left: 20px;
  margin-top: 30px;
  font-size: 23px;
  font-weight: 600;
}

// mixins associés au layout
// header
@mixin header {
  @include flexMid;
  background: $white;
  height: 60px;
}

@mixin btn {
  @include boxShadowMenu();
  padding: 15px 40px;
  margin: 20px auto;
  margin-bottom: 30px;
  border: none;
  border-radius: 20px;
  background: $gradient;
  color: $white;
  cursor: pointer;
  font-size: 15px;

  &:hover {
    background: lighten($pink, 1);
  }
}

// before new
@mixin new($colour: $mint, $size: 30px) {
  content: 'Nouveau';
  height: $size;
  width: 80px;
  top: 15px;
  right: $size;
  @include flexMid();
  position: absolute;
  background: $colour;
  color: darken($colour, 40);
}

// Coeur pour like

@mixin heart ($op: 1, $fw: 400) {
  content: '\f004';
  font-family: 'Font Awesome 5 Free';
  font-weight: $fw;
  font-size: 30px;
  position: absolute;
  top: 15%;
  right: 3%;
  color: $darkGrey;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: $op;
  transition: all .3s linear;
}

// Restaurants

// fleche retour
@mixin retour($size: 50px) {
     position: absolute;
     font-size: $size - 25px;
     height: $size;
     width: $size;
    left: 3%;
    top: 10%;
    @include flexMid();
    border-radius: 25%;

    &:hover {
      @include boxShadowMenu();
      font-size: $size - 20px;
    }
   
}

// Entrée + Plat + Désserts 
@mixin titreResto($colour: lighten($black, 30)) {
  color: $colour;
  padding-bottom: 20px;
  text-transform: uppercase;
  position: relative;
  font-weight: 400;

  &::after {
    content: '';
    position: absolute;
    height: 5px;
    width: 50px;
    background: $mint;
    bottom: 10px;
    left: 0;
  }
}

