// Variables de couleurs
$purple: #9356dc;
$pink: #ff79da;
$mint: #99e2d0;
$lightGrey: #f3f3f3;
$darkGrey: #07050554;
$white: #ffffff;
$black: #000;

$gradient: linear-gradient($pink, $purple);

// valeurs
$radius: 20px;

// @media screen 
$tablette: "only screen and (max-width: 992px)";
$mobile: "only screen and (max-width: 767px)";