// Variables de couleurs
$purple: #9356dc;
$pink: #ff79da;
$mint: #99e2d0;
$lightGrey: #f3f3f3;
$darkGrey: #414141;
$white: #ffffff;
$black: #000;

$gradient: linear-gradient($pink, $purple);

// valeurs
$radius: 20px;
$padding: 20px;

// @media screen 
$desktop: "only screen and (min-width: 992px)";
$tablette: "only screen and (min-width: 767px)";