// @import "../utils/variables";

// Footer
.margin-footer {
  background: lighten($black, 20);
  padding: 20px;
  color: $white;

  h1 {
    font-size: 25px;
    letter-spacing: 2px;
    font-family: "Shrikhand", cursive;
  }
  i {
    margin-right: 10px; 
    width: 15px;
    height: 20px;
  }
  p {
    margin: 10px 0;
  }
}
