@import "../utils/variables";
@import "../utils/mixins";

.header-home {
  @include header;
}

.sct-home {
  .paris {
    @include boxShadowTop;
    @include header;
    height: 60px;
    background: darken($lightGrey, 1);
    color: #414141;
    font-weight: 400;


    i {
      padding-right: 10px;
    }
  }
  .text {
    text-align: center;
    padding-bottom: $padding + 10px;

    h2 {
      @include secondTitle;
    }

    p {
      color: lighten($black, 40);
      font-size: 19px;
      font-weight: bold;
    }

  }
}

.btn {
  @include btn;
}